@font-face {
    font-family: PressStart2P;
    src: url(/fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: vt323;
    src: url(/fonts/VT323-Regular.ttf);
}

header{
    font-family: PressStart2P;
}

main{
    font-family: vt323;
}

#hidden{
    font-size: 0.1em;
}